* {
  box-sizing: border-box;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

::placeholder {
  color: hsla(0, 0%, 92%, 1);
}

:root {
  --TRANSITION: all 0.3s ease-out;
  /* Spacing */
  --PADDING: 0.5rem;
  --MARGIN: 0.5rem;
  --SAVE-B-PADDING: 1.3rem;
  
  /* Font */
  --FTSIZE: 1.1rem;
  --FTCOLOR: hsla(262, 24%, 29%, 0.79);
  
  /* Colors */
  --BG-COLOR: rgb(255, 255, 255);
  --CARD-COLOR: hsla(240, 9%, 32%, 1);
  /*
    --ACCENT: hsla(191, 47%, 58%, 1);
    */
  --CARD-SHADOW: hsl(0, 0%, 43%);
  --CARD-HOVER-COLOR: rgb(34, 0, 0);
  --CARD-HOVER-BG: rgba(150, 150, 150, 0);
  --ACCENT: hsla(303, 0%, 100%, 1);
  --BUTTON-COLOR: hsla(139, 5%, 26%, 1);
  --BUTTON-HOVER-BG: hsla(115, 0%, 56%, 1);
  /* --BUTTON-SHADOW: rgba(196, 196, 196, 0.329); */
  --BUTTON-HOVER-COLOR: hsl(0, 0%, 0%);
  --NAVHEAD-TEXT-SHADOW: hsla(0, 0%, 68%, 0.78);
  
  /*_ Input & Textarea color _*/
  --INTA-COLOR: rgb(255, 255, 255);
  --HEADER-FT-COLOR: hsla(293, 0%, 91%, 1);
  
  /* Header and Footer background color */
  --HFBG-COLOR: hsla(295, 0%, 26%, 1);
  
  /* Border Radius */
  --RADIUS: 0.2rem;
}
/* 
button:disabled {
  cursor: disable;
  box-shadow: 0px 0px 9px hsla(240, 0%, 33%, 0.51);
  color: hsla(0, 0%, 53%, 1);
  background-color: hsla(240, 0%, 4%, 0.26);
  visibility: hidden;
} */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ACCENT);
  color: var(--BUTTON-COLOR);
  font-weight: 600;
  padding: 0.8rem 1.5rem;
  border-radius: var(--RADIUS);
  border: none;
  margin: 0 0.5rem;
  transition: var(--TRANSITION);
  box-shadow: 0px 0px 9px var(--BUTTON-SHADOW);
  cursor: pointer;
}

.button:hover {
  background-color: var(--BUTTON-HOVER-BG);
  color: var(--BUTTON-HOVER-COLOR);
  transform: translateX(-2px);
}


html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--FTSIZE);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: linear-gradient(rgb(173, 173, 173), rgb(79, 82, 79));
  color: var(--FTCOLOR);
  line-height: 1.7;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: relative;
  
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100dvh;
  width: 100%;
  max-width: 30rem;
  box-shadow: 0 0 5px hsla(139, 5%, 26%, 1);
  overflow-y: auto;
  scrollbar-width:none;
  background-color: var(--BG-COLOR);
}


.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 8.5rem;
  background-color: var(--HFBG-COLOR);
  border-bottom: 1px solid hsla(240, 5%, 31%, 1);
  color: var(--HEADER-FT-COLOR);
  z-index: 5;
  
}

.header_nav_list {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

/*.more_action_container {}*/

.show_more_action_button {
  padding: 0.8rem 1rem;
  font-weight: 600;
  background-color: var(--ACCENT);
  color: var(--BUTTON-COLOR);
  display: flex;
  justify-content: space-between;
  width: 6rem;
  position: relative;
}

.nav_content {
  position: relative;
}

.more_action_content {
  position: absolute;
  top: 3.5rem;
  background-color: hsla(199, 5%, 11%, 1);
  border-radius: 0.5rem;
  right: 1rem;
}

.more_action_list {
  list-style-type: none;
  width: 8rem;
  transition: var(--TRANSITION);
  height: 0;
  overflow-y: hidden;
  opacity: 0;
  cursor: pointer;
}

.show_more_action_list {
  height: 11.5rem;
  opacity: 1;
}

.action_flow {
  transform: rotate(90deg);
}

.more_action_button {
  padding: var(--PADDING) calc(var(--PADDING) + 0.3rem);
  transition: var(--TRANSITION);
  
}

.more_action_button:hover {
  background-color: hsla(139, 0%, 50%, 1);
  /* border-radius: 0.6rem; */
}

.more_action_span {
  margin-left: var(--MARGIN);
}

.nav_content,
.return_nav_container {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: var(--PADDING);
  background-color: hsla(119, 60%, 54%, 0);
}

.return_nav_container {
  position: relative;
}

.return_button {
  /* position: absolute;
  left: -100px; */
  visibility: hidden;
  /* padding: var(--PADDING); */
}

.show_return_button {
  left: 0;
  visibility: visible;
}

.header_nav_heading {
  font-size: calc(var(--FTSIZE) + var(--FTSIZE));
  padding: 0 var(--PADDING);
  text-shadow: 2px 4px 5px var(--NAVHEAD-TEXT-SHADOW);
  font-weight: 600;
  font-family: Helvetica, sans-serif;
  color: var(--NAVH-COLOR);
}

.svg_pencil {
  	fill: hsl(150, 92%, 52%);
	filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
	transform: rotate(-20deg);
}

.add_note {
	font-weight: 600;
	text-align: center;
}

.search_container {
	display: grid;
	grid-template-columns: auto 0.75fr;
	transition: var(--TRANSITION);
}

.search_input {
	margin: 0.8rem 0.5rem 0.3rem 0.5rem;
	border: none;
	outline: none;
	border-radius: 0.8rem;
	/* background-color: hsla(240, 0%, 70%, 0.74); */
	padding: 0.4rem 0.8rem;
	color: hsla(245, 100%, 19%, 1);
	font-weight: 600;
}

.main {
	height: 100%;
	transition: var(--TRANSITION);
	overflow: hidden;
	position: static;
}

/* Main */
.main {
	font-size: 1.3rem;
	display: flex;
	justify-items: center;
	flex-flow: column nowrap;
	position: relative;
}

.note_section,
.settings_section,
.form_section {
	padding: 0;
	margin: 0;
	height: 0;
}

.note_section {
	display: flex;
	flex-flow: column nowrap;
	overflow-x: hidden;
}

.settings_section {
	position: fixed;
	z-index: 2;
	width: 100%;
	background: hsla(151, 33%, 59%, 1);
	overflow: auto;
	max-width: 30rem;
}

/* Declaration not neccesary at the moment buh okay for refrence and adjustment */
.form_section {
	overflow-x: hidden;
	background-color: hsla(0, 12%, 8%, 0.623);
}

.active_section {
	height: 100%;
	animation: fade-sections 0.7s linear;
	padding: var(--PADDING);
	animation: show-note-card-section 0.7s 0s linear both;
}

@keyframes fade-sections {
	0% {
		opacity: 0.2;
	}
	
	40% {
		opacity: 0.7;
	}
	
	40% {
		opacity: 0.5;
	}
	
	100% {
		opacity: 1;
	}
}

@keyframes show-note-card-section {
	0% {
		transform: translateY(-10px);
		opacity: 0.3;
	}
	
	50% {
		transform: translateY(5px);
		opacity: 0.8;
	}
	
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

.note_card {
	box-shadow: 0px 0px 2px var(--CARD-SHADOW);
	margin: 0.3rem;
	padding: var(--PADDING);
	border-radius: 0.6rem;
	color: var(--CARD-COLOR);
	cursor: pointer;
	transition: var(--TRANSITION);
}

.note_card:hover {
	background-color: var(--CARD-HOVER-BG);
	color: var(--CARD-HOVER-COLOR);
	transform: translateY(-3px);
}

.note_content,
.note_date {
	font-size: 0.7rem;	
}

.empty_state {
	color: hsla(0, 0%, 64%, 1);
	text-align: center;
	font-size: 1rem;
	padding-top: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
	min-height: 100%;
}

.create_note_button {
	background: var(--ACCENT);
	color: hsla(240, 0%, 34%, 1);
	width: 10rem;
	align-self: center;
	margin-top: 1rem;
	transition: var(--TRANSITION);
	box-shadow: 0px 0px 9px hsla(139, 0%, 62%, 0.39);
}

.create_note_button:hover {
	transform: translateY(-3px);
	color: hsla(133, 0%, 84%, 1);
}

.show_settings_section {
	height: 77vh;
}

/* Form Section */
.note_form {
	display: grid;
	grid-template-rows: auto auto 1fr;
	color: var(--FTCOLOR);
	height: 98%;
	position: relative;
}

.note_title_input,
.note_textarea {
	font-size: calc(var(--FTSIZE) + 0.5rem);
	padding: 1rem 0.8rem;
	color: var(--INTA-COLOR);
	outline: none;
	border: none;
	border-radius: 0;
	background-color: var(--ACCENT);
	font-family: Arial, Helvetica, sans-serif;
	background-color: hsla(0, 0%, 0%, 0.14);
}

.note_title_input {
	font-weight: 700;
}

.note_textarea {
	font-size: calc(var(--FTSIZE) + 0.1rem);
	padding-bottom: 5rem;
}

.save_button {
	position: absolute;
	bottom: 2rem;
	right: 2rem;
	background-color: hsla(0, 0%, 0%, 0.4);
	padding: var(--SAVE-B-PADDING);
	box-shadow: unset;
	box-shadow: 0px 0px 5px hsla(0, 100%, 4%, 1);
	animation: beat 3s infinite both linear;
}

@keyframes beat {
	0% {
		scale: 0.8;
		opacity: 0.3;
		transform: rotate(0);
	}
	
	35% {
		opacity: 0.5;
		transform: rotate(45deg);
	}
	
	75% {
		opacity: 0.8;
		transform: rotate(-45deg);
	}
	
	100% {
		scale: 1;
		opacity: 1;
		transform: rotate(0);
	}
}

/* Footer */
.footer {
	height: 5rem;
	position: sticky;
	bottom: 0;
	width: 100%;
	border-top: 1px solid hsla(240, 5%, 31%, 1);
	background-color: var(--HFBG-COLOR);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 3;
}

.footer_nav_list {
	display: flex;
	gap: 1rem;
	list-style-type: none;
	padding: var(--PADDING);
}