/* *_*_*_*_*_*_*_*_*_* */
  	/* = Reset = */
/* *_*_*_*_*_*_*_*_*_* */
* {
	box-sizing: border-box;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

/* *_*_*_*_*_*_*_*_*_*_*_* */
  	/* = Variables = */
/* *_*_*_*_*_*_*_*_*_*_*_* */
:root {
	/* Animation */
	--TRANSITION: all 0.3s ease-out;

	/* Spacing */
	--PADDING: 0.5rem;
	--MARGIN: 0.5rem;
	--SAVE-B-PADDING: 1.3rem;
	
	/* Font */
	--FTSIZE: 1.1rem;
	--FTCOLOR: hsl(0, 0%, 15%);
	--INTA-COLOR: whitesmoke;
	
	/* Colors */
	--BG-COLOR: rgba(255, 255, 255, 0.945);
	--CARD-COLOR: hsla(240, 9%, 32%, 1);
	--CARD-SHADOW: hsla(0, 0%, 43%, 0.459);
	--CARD-HOVER-COLOR: rgb(34, 0, 0);
	--CARD-HOVER-BG: rgba(150, 150, 150, 0);
	--ACCENT: hsla(303, 0%, 100%, 1);
	
	--BUTTON-COLOR: hsla(139, 5%, 26%, 1);
	--BUTTON-HOVER-BG: hsla(115, 0%, 56%, 1);
	--BUTTON-HOVER-COLOR: hsl(0, 0%, 0%);
	--NAVHEAD-TEXT-SHADOW: hsla(0, 0%, 68%, 0.78);
	--HEADER-FT-COLOR: hsla(293, 0%, 91%, 1);
	
	/* Header and Footer background color */
	--HFBG-COLOR: hsla(295, 0%, 26%, 1);

	/* Border Radius */
	--RADIUS: 0.2rem;

	--PROFILE-CARD-BTN-COLOR: hsl(0, 47%, 96%);
	--PROFILE-CARD-BTN-BG: hsl(0, 0%, 27%);

}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--ACCENT);
	color: var(--BUTTON-COLOR);
	font-weight: 600;
	padding: 0.8rem 1.5rem;
	border-radius: var(--RADIUS);
	border: none;
	margin: 0 0.5rem;
	transition: var(--TRANSITION);
	box-shadow: 0px 0px 5px var(--ACCENT-SHADOW);
	cursor: pointer;
}

button:disabled {
	background-color: gray;
	color: hsl(0, 0%, 19%);
}

.button:hover {
	background-color: var(--BUTTON-HOVER-BG);
	color: var(--BUTTON-HOVER-COLOR);
	transform: translateX(-2px);
}


html {
  	scroll-behavior: smooth;
}

body {
	font-size: var(--FTSIZE);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background: linear-gradient(rgb(173, 173, 173), rgb(79, 82, 79));
	color: var(--FTCOLOR);
	line-height: 1.7;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	position: relative;
}

/* *_*_*_*_*_*_*_*_*_*_* */
  	/* = Wrapper = */
/* *_*_*_*_*_*_*_*_*_*_* */
.wrapper {
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100dvh;
	width: 100%;
	/* max-width: 35rem; */
	box-shadow: 0 0 5px hsla(139, 5%, 26%, 1);
	overflow-y: auto;
	scrollbar-width:none;
	background-color: var(--BG-COLOR);
	transition: var(--TRANSITION);
}


.light_theme {
	background-color: var(--BG-COLOR);
}


/* *_*_*_*_*_*_*_*_*_* */
  	/* = Header = */
/* *_*_*_*_*_*_*_*_*_* */
.header {
	position: sticky;
	top: 0;
	width: 100%;
	height: 8.5rem;
	background-color: var(--HFBG-COLOR);
	border-bottom: 1px solid hsla(240, 5%, 31%, 1);
	color: var(--HEADER-FT-COLOR);
	z-index: 5;
}

.header_nav_list {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.show_more_action_button {
	padding: 0.71rem 1rem;
	font-weight: 600;
	background-color: var(--ACCENT);
	color: var(--BUTTON-COLOR);
	display: flex;
	justify-content: space-between;
	width: 6rem;
	position: relative;
}

.nav_content {
  	position: relative;
}

/* Header --> More Action */
.more_action_content {
	position: absolute;
	top: 3.5rem;
	right: 1rem;
}

.more_action_list {
	list-style-type: none;
	width: 8rem;
	transition: var(--TRANSITION);
	height: 0;
	overflow-y: hidden;
	opacity: 0;
	cursor: pointer;
	background-color: hsla(0, 0%, 0%, 0.89);
}

.show_more_action_list {
	height: 12.4rem;
	opacity: 1;
}

.action_flow {
	transform: rotate(90deg);
}

.more_action_button {
	padding: calc(var(--PADDING) - 0.2rem) calc(var(--PADDING) + 0.3rem);
	transition: var(--TRANSITION);
	display: flex;
	background-color: hsla(0, 0%, 0%, 0.322);
	align-items: center;
}

.more_action_button:hover {
	background-color: hsla(0, 0%, 36%, 0.486);
}

.more_action_span {
	margin-left: var(--MARGIN);
}

.nav_content,
.return_nav_container {
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	padding: var(--PADDING);
	background-color: hsla(119, 60%, 54%, 0);
}

/* Header --> Return Nav Container */
.return_nav_container {
	position: relative;
}

.return_button {
	visibility: hidden;
}

.show_return_button {
	left: 0;
	visibility: visible;
}

.header_nav_heading {
	font-size: calc(var(--FTSIZE) + var(--FTSIZE));
	padding: 0 var(--PADDING);
	text-shadow: 2px 4px 5px var(--NAVHEAD-TEXT-SHADOW);
	font-weight: 600;
	font-family: Helvetica, sans-serif;
	color: var(--NAVH-COLOR);
}

.svg_pencil {
  	fill: hsl(150, 92%, 52%);
	filter: drop-shadow(0px 0px 10px hsl(0, 0%, 100%));
	transform: rotate(-20deg);
}

.add_note {
	font-weight: 600;
	text-align: center;
}

/* Header --> Search container */
.search_container {
	display: grid;
	grid-template-columns: auto 0.75fr;
	transition: var(--TRANSITION);
}

.search_input {
	margin: 0.8rem 0.5rem 0.3rem 0.5rem;
	border: none;
	outline: none;
	border-radius: var(--RADIUS);
	box-shadow: 0px 0px 5px var(--ACCENT-SHADOW);
	padding: 0.1rem 0.8rem;
	font-weight: 600;
	font-size: 0.8rem;
}

.search_input::placeholder {
	color: rgb(100, 100, 100);
}

/* *_*_*_*_*_*_*_*_*_*_*_*_* */
  	/* = Main = */
/* *_*_*_*_*_*_*_*_*_*_*_*_* */
.main {
	height: 100%;
	transition: var(--TRANSITION);
	overflow: hidden;
	position: static;
	display: flex;
	justify-items: center;
	flex-flow: column nowrap;
	position: relative;
}

/* Main --> Sections Reset */
.note_section,
.settings_section,
.form_section,
.trash_section {
	margin: 0;
	height: 0;
	overflow: hidden;
}

.active_section {
	height: 100%;
	animation: fade-sections 0.7s linear;
	animation: show-note-card-section 0.7s 0s linear both;
	padding: calc(var(--PADDING) - 0.2rem);
	
	/* Optional */
	padding-bottom: 7rem; 
}

/* Main --> Sections Animations */
@keyframes fade-sections {
	0% {
		opacity: 0.2;
	}
	
	40% {
		opacity: 0.7;
	}
	
	40% {
		opacity: 0.5;
	}
	
	100% {
		opacity: 1;
	}
}

@keyframes show-note-card-section {
	0% {
		transform: translateY(-10px);
		opacity: 0.3;
	}
	
	50% {
		transform: translateY(5px);
		opacity: 0.8;
	}
	
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

/* *_*_*_*_*_*_*_*_*_*_*_*_*_* */
	/* = Note Section = */  
/* *_*_*_*_*_*_*_*_*_*_*_*_*_* */
.note_section {
	display: flex;
	flex-flow: column nowrap;
	overflow-x: hidden;
}
 
.note_card {
	box-shadow: 0px 0px 2px var(--CARD-SHADOW);
	margin: 0.3rem;
	padding: 0.7rem var(--PADDING) 0.7rem 1rem;
	border-radius: 0.6rem;
	color: var(--CARD-COLOR);
	cursor: pointer;
	transition: var(--TRANSITION);
	position: relative;
}


.note_card:hover {
	background-color: var(--CARD-HOVER-BG);
	color: var(--CARD-HOVER-COLOR);
	transform: translateY(-3px);
}

.highlight_note_card {
	background-color: hsla(249, 100%, 4%, 0.041);
	margin-top: 0.2rem;
	color: rgb(0, 37, 107);
	box-shadow: 0px 0px 6px hsla(120, 29%, 7%, 0.158);
	animation: shake_note_card 0.7s linear infinite forwards;
}

.checkbox_svg {
	fill: hsl(0, 0%, 2%);
}

.uncheckbox_svg {
	fill: hsl(0, 0%, 94%);
}

@keyframes shake_note_card  {
	0% {
		transform: translateX(0);
	}

	25% {
		transform: translateX(-1px);
	}

	75% {
		transform: translateX(1px);
	}

	100% {
		transform: translateX(0);
	}
}


.highlight_note_card:hover {
	background-color: hsla(249, 100%, 10%, 0.041);
	color: hsl(219, 100%, 21%);
	transform: unset;
}

.note_checkbox_btn {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 2rem;
	height: 2rem;
	background: hsl(244, 43%, 38%);
	visibility: hidden;
	opacity: 0;
	transition: var(--TRANSITION);
	border: none;
	color: hsl(208, 100%, 97%);
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	z-index: 1;
}

.note_checkbox_btn:hover {
	color: hsla(0, 0%, 100%, 0.192);
	color: hsl(0, 0%, 81%);
}

.show_note_checkbox_btn {
	visibility: visible;
	opacity: 1;
}

.checked {
	color: hsl(0, 0%, 7%);
	background-color: hsl(118, 100%, 50%);
}

.note_content,
.note_date {
	font-size: 0.7rem;	
}

.empty_state {
	color: hsla(0, 0%, 64%, 1);
	text-align: center;
	font-size: 1rem;
	padding-top: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
	min-height: 100%;
}

.create_note_button {
	background: var(--ACCENT);
	color: hsla(240, 0%, 34%, 1);
	width: 10rem;
	align-self: center;
	margin-top: 1rem;
	transition: var(--TRANSITION);
	box-shadow: 0px 0px 9px hsla(139, 0%, 62%, 0.39);
}

.create_note_button:hover {
	transform: translateY(-3px);
	color: hsla(133, 0%, 84%, 1);
}

.empty_search_container {
	display: flex;
	justify-content: center;
	padding-top: 1rem;
}

/* *_*_*_*_*_*_*_*_*_*_*_*_*_*_* */
	/* = Settings Section = */  
/* *_*_*_*_*_*_*_*_*_*_*_*_*_*_* */
.settings_section {
	display: flex;
	flex-direction: column;
	font-size: 0.9rem;
}

/* Settings --> Profile Card */
.profile_card,
.settings_form,
.theme_card {
	box-shadow: 0px 0px 4px var(--CARD-SHADOW);
	padding: var(--PADDING);
	font-size: 1rem;
	margin: 0.2rem;
	transition: var(--TRANSITION);
	border-radius: 0.5rem;
}

.profile_card {
	height: 12.5rem;
	overflow: hidden;
}

.full_profile_card {
	height: 21.5rem;
}

.profile_wrapper,
.user_details_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	filter: drop-shadow(0px 0px 1px hsla(0, 0%, 0%, 0.301));
}

.profile_img_wrapper {
	width: 6rem;
	height: 6rem;
	margin: 0.5rem;
}

.profile_img_wrapper svg {
	transition: var(--TRANSITION);
	border-radius: 50%;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 4px var(--ACCENT-SHADOW);
	cursor: pointer;
}

.profile_img_wrapper svg:hover {
	transform: rotate(10deg);
	animation: shake_profile 0.5s 2 forwards;
}

@keyframes shake_profile {
	0% {
		transform: translateX(0);
	}

	25% {
		transform: translateX(-2px);
	}

	75% {
		transform: translateX(2px);
	}

	100% {
		transform: translateX(0);
	}
}

.profile_img_wrapper .profile_img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	display: none;
}

.profile_img_caption {
	position: absolute;
	left: -1000px;
}

.profile_card_wrapper {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-end;
	padding-right: 1rem;
}

.profile_nick_name {
	margin: 2rem 0;
}

.profile_btn {
	cursor: pointer;
	padding: var(--PADDING);
	border: none;
	border-radius: 0.5rem;
}

.user_details_wrapper {
	align-items: center;
}

.user_details {
	font-size: 0.8rem;
	margin-top: 1rem;
	padding: var(--PADDING);
}

.id_holder,
.name_holder,
.email_holder,
.hobbies_holder {
	display: inline-block;
	margin-left: 0.5rem;
}

.user_id {
	font-size: 1.5rem;
	margin-bottom: 0.6rem;
}

.user_name {
	font-size: 1rem;
	font-weight: 500;
}

.drop_profile_card_btn {
	border-color: transparent;
	background-color: var(--PROFILE-CARD-BTN-BG);
	color: var(--PROFILE-CARD-BTN-COLOR);
	transition: var(--TRANSITION);
}

.drop_profile_card_btn:hover {
	opacity: 0.8;
	transform: translateX(-2px);
}
.drop_down_right_angle_svg {
	fill: hsl(0, 0%, 99%);
}

/* Rotate Drop Down SVG */
.rotate_drop_down_svg {
	transition: var(--TRANSITION);
	transform: rotate(90deg);
}

.edit_btn_coontainer {
	display: flex;
	justify-content: center;
}

.edit_btn_coontainer {
	display: flex;
	justify-content: center;
}

.edit_profile_card_btn {
	margin: 1rem;
	font-size: 0.88rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	border-color: transparent;
	box-shadow: 0px 0px 5px var(--ACCENT-SHADOW);
	background-color: var(--PROFILE-CARD-BTN-BG);
	color: var(--PROFILE-CARD-BTN-COLOR);
	transition: var(--TRANSITION);
}

.edit_profile_card_btn:hover {
	opacity: 0.8;
	transform: translateY(-2px);
}

.edit_profile_pencil_svg {
	transform: rotate(-20deg);
}

/* Settings --> Form */
.settings_form {
	display: flex;
	flex-flow: column nowrap;
	height: 0;
	padding: 0;
	overflow-y: hidden;
	opacity: 0;
}

.show_settings_form {
	height: 25rem;
	margin: 1rem 1.5rem;
	padding: 1rem;
	overflow: unset;
	opacity: 1;
	animation: shake_settings_form 0.3s ease-in 0 1 forwards;
}

@keyframes shake_settings_form {
	0% {
		transform: translateX(0);
	}

	25% {
		transform: translateX(-5px);
		transform: scale(0.7);
	}

	75% {
		transform: translateX(5px);
	}

	100% {
		transform: translateX(0);
	}
}

.show_settings_form:hover {
	transition: var(--TRANSITION);
	transform: translateY(-2px);
}

.settings_form_heading {
	font-weight: 500;
	text-align: center;
	margin: 1.2rem 0 1rem 0;
}

.settings_form_input,
.hobbies_textarea {
	margin-top: calc(var(--MARGIN) + 0.1rem);
	padding: var(--PADDING) 0.8rem;
	border-radius: var(--RADIUS);
	border: none;
	outline: none;
	box-shadow: 0px 0px 2px gray;
	background-color: rgba(255, 255, 224, 0);
}

.hobbies_textarea {
	min-height: 3rem;
	min-width: 100%;
}

.settings_form_btm_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 1rem;
	gap: 0.5rem;
}

.settings_form_btn {
	padding: var(--PADDING);
	cursor: pointer;
	border-radius: var(--RADIUS);
	border: none;
	box-shadow: 0px 0px 5px var(--ACCENT-SHADOW);
	background-color: var(--PROFILE-CARD-BTN-BG);
	color: var(--PROFILE-CARD-BTN-COLOR);
}


/* Settings --> Theme */
.theme_card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 0.2rem;
	margin: var(--MARGIN) 0.3rem;
	padding: var(--PADDING);
	padding-left: 1rem;
}

.app_theme_list {
	position: relative;
}

.theme_list_toggler  {
	box-shadow: 0px 0px 4px var(--CARD-SHADOW);
	border: none;
	border-radius: 0.5rem;
	padding: var(--PADDING);
	cursor: pointer;
	background-color: var(--PROFILE-CARD-BTN-BG);
	color: var(--PROFILE-CARD-BTN-COLOR);
	transition: var(--TRANSITION);
}

.theme_list_toggler:hover {
	opacity: 0.8;
	transform: translateX(-2px);
}

.theme_list_term {
	display: inline-block;
	margin-right: 0.8rem;
	padding-left: var(--PADDING);
}

.theme_btn_container {
	display: flex;
	flex-flow: column nowrap;
	position: absolute;
	transition: var(--TRANSITION);
	width: 8rem;
	top: 2.4rem;
	background-color: hsla(0, 0%, 0%, 0.801);
	box-shadow: 0px 0px 4px var(--ACCENT-SHADOW);
	z-index: 1;
	opacity: 0;
	height: 0;
	overflow: hidden;
}

.show_theme_btn_container {
	height: 6.3rem;
	opacity: 1;
}

.app_theme_btn {
	padding: var(--PADDING);
	border: none;
	cursor: pointer;
	color: hsl(0, 0%, 89%);
	background-color: rgba(0, 0, 0, 0);
}

.app_theme_btn:hover {
	background-color: rgba(92, 92, 92, 0.486);
}

.dark_theme_btn {
	background-color: rgba(0, 0, 0, 0);
}

/* *_*_*_*_*_*_*_*_*_*_*_*_* */
  	/* = Note Form Section = */
/* *_*_*_*_*_*_*_*_*_*_*_*_* */
.form_section {
	padding: 0;
	background-color: hsla(0, 12%, 8%, 0.623);
}

.note_form {
	display: grid;
	grid-template-rows: auto auto 1fr;
	color: var(--FTCOLOR);
	height: 98%;
	position: relative;
}

.form_time_element {
	font-size: 0.7rem;
	padding-left: 0.5rem;
	color: rgb(194, 194, 194);
} 

.note_title_input,
.note_textarea {
	font-size: calc(var(--FTSIZE) + 0.5rem);
	padding: 1rem 0.8rem;
	color: var(--INTA-COLOR);
	outline: none;
	border: none;
	border-radius: 0;
	background-color: var(--ACCENT);
	font-family: Arial, Helvetica, sans-serif;
	background-color: hsla(0, 0%, 0%, 0.14);
	min-width: 100%;
}

.note_title_input::placeholder,
.note_textarea::placeholder {
	color: aliceblue;
}

.note_title_input::placeholder,
.note_textarea::placeholder {
	color: gray;
}

.note_title_input {
	font-weight: 700;
}

.note_textarea {
	font-size: calc(var(--FTSIZE) + 0.1rem);
	padding-bottom: 5rem;
}

.save_button {
	position: absolute;
	bottom: 2rem;
	right: 2rem;
	background-color: hsla(0, 0%, 0%, 0.4);
	padding: var(--SAVE-B-PADDING);
	box-shadow: unset;
	box-shadow: 0px 0px 5px hsla(0, 100%, 4%, 1);
	animation: beat 3s infinite both linear;
}

/* Form --> Save Button Animation */
@keyframes beat {
	0% {
		scale: 0.8;
		opacity: 0.3;
		transform: rotate(0);
	}
	
	35% {
		opacity: 0.5;
		transform: rotate(45deg);
	}
	
	75% {
		opacity: 0.8;
		transform: rotate(-45deg);
	}
	
	100% {
		scale: 1;
		opacity: 1;
		transform: rotate(0);
	}
}

/* *_*_*_*_*_*_*_*_*_*_*_*_* */
  	/* = Trash Section = */
/* *_*_*_*_*_*_*_*_*_*_*_*_* */

.trash_section {
	font-size: 1rem;
}

/* *_*_*_*_*_*_*_*_*_*_*_*_* */
  	/* = Footer = */
/* *_*_*_*_*_*_*_*_*_*_*_*_* */
.footer {
	height: 5rem;
	position: sticky;
	bottom: 0;
	width: 100%;
	border-top: 1px solid hsla(240, 5%, 31%, 1);
	background-color: var(--HFBG-COLOR);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 3;
}

.footer_nav_list {
	display: flex;
	gap: 1rem;
	list-style-type: none;
	padding: var(--PADDING);
}

/* *_*_*_*_*_*_*_*_*_*_*_**_*_*_*_*_* */
  	/* = Dark Theme Variables = */
/* *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* */
:root {
	--ACCENT-SHADOW: hsla(0, 0%, 50%, 0.212);
	--DARKTHEME-ACCENT-COLOR: hsla(75, 26%, 9%, 0.103);

	--DARKTHEME-HFBG-COLOR: rgb(17, 17, 24);
	
	--DARKTHEME-BG-COLOR: hsla(252, 100%, 3%, 0.678);
	/* --DARKTHEME-BG-COLOR: rgb(41, 47, 66); */
	--DARKTHEME-COLOR: rgb(218, 218, 218);
}

.dark_theme {
	background-color: var(--DARKTHEME-HFBG-COLOR);
    background-color: var(--DARKTHEME-BG-COLOR);
	color: var(--DARKTHEME-COLOR);
}

.dark_theme > .header,
.dark_theme > .footer {
	background-color: var(--DARKTHEME-HFBG-COLOR);
}

.dark_theme .settings_form_input,
.dark_theme .hobbies_textarea,
.dark_theme .search_input,
.dark_theme .settings_form_btn,
.dark_theme .settings_form_input,
.dark_theme button{
	color: var(--DARKTHEME-COLOR);
	background-color: transparent;
	box-shadow: 0px 0px 8px var(--ACCENT-SHADOW);
	background-color: transparent;
	border: 1px solid rgb(163, 163, 163);
}

.dark_theme .search_input:current {
	background-color: transparent;
}

.dark_theme .note_card {
	color: var(--DARKTHEME-COLOR);
	background-color: hsla(0, 0%, 0%, 0.425);
}

.dark_theme .highlight_note_card {
	background-color: hsla(0, 0%, 32%, 0.486);
	color: rgb(255, 255, 255);
}

.dark_theme .settings_section button {
	background-color: hsl(208, 100%, 15%);
	border: 1px solid rgb(180, 180, 255);
}

.dark_theme .settings_section .app_theme_btn {
	background-color: initial;
	border: none;
	box-shadow: unset;
}

/* .dark_theme .settings_section .app_theme_btn:hover {
	background-color: rgba(255, 255, 255, 0.075);
} */

.dark_theme svg {
	fill: var(--DARKTHEME-COLOR);
} 

.dark_theme ::placeholder {
	color: hsl(0, 0%, 44%);
}

.dark_theme .search_input {
	background-color: var(--DARKTHEME-ACCENT-COLOR);
}

.dark_theme .note_checkbox_btn {
	background: rgb(255, 255, 255);
	color: black;
	box-shadow: 0px 5px 30px var(--ACCENT-SHADOW);
}

.dark_theme .note_form input,
.dark_theme .note_form textarea {
	color: rgb(255, 255, 255);
}

.dark_theme .note_checkbox_btn:hover {
	background: rgba(255, 255, 255, 0.548);
	color: rgba(0, 0, 0, 0.616);
}

.dark_theme .checkbox_svg {
	fill: rgb(255, 255, 255);
}

.dark_theme .uncheckbox_svg {
	fill: black;
}

.dark_theme .checked {
	color: rgb(255, 255, 255);
	background-color: rgb(0, 156, 10);
}